
/*  ---- General Styles ---- */
.hidden {
  display: none;
  }


button:hover {
  background-color: #523F15;
  color: #ffffff;
}

img { 
border: none; /*Remove border if image is a link*/
}


body {
font-family: 'Papyrus';
font-size: 24px;
}


.container {
margin: 0 auto;
width: 1200px;
}

/* Grid */

.grid-con {
display: grid;
grid-template-columns: repeat(8, 82px);
grid-column-gap: 70px;
padding-left: 27px;
padding-right: 27px;
}

/*  ----Main Content---- */

/* fixed the positioning - we want to avoid using negative margins. I used css grid and flex box. */ 


#title {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

#title h2 {
  font-size: 67px;
  color: #523F15;
}

#title img {
  width: 6%;
  margin: 50px;
}

.icons img{
  display: inline;
  padding-bottom: 50px;
  width: 50px; 
  
}


/* using flex box is amazing for positioning! I used flex-direction: column to vertically display the icons*/ 

.icons {

/* this is the styling for the divs behind the icons. It gives the glassmorphism effect  (backdrop-filter & background-colour )*/ 

  backdrop-filter: saturate(100%) blur(5px);
  background-color: rgba(249, 249, 249, 0.365);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 40px;
  border: solid 1px rgb(159, 158, 158);
  cursor: pointer;
}

#icons-left {
  grid-column: 2/2;
 
}

#icons-right {
  grid-column: 7/7;
}

#brain {
  grid-column: 4/7;
}

/*---- audio controls ----*/


/* I gave a general style to the button selector as all of the button's styling is the same. */ 

button {
  border-radius: 50%;
  background-color: #F8F5DF;
  color: #523F15;
  border:none;
  outline: none;
  opacity: 80%;
  font-family: Papyrus;
  box-shadow: 0 0 5px #31250d;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#audio-controls {
  display: flex;
  grid-column: 3/12;
  margin-left: 140px;
  position: relative;
  bottom:4em;
}

#audio-controls button {
  margin-right: 40px;
}



#volume-slider {
  -webkit-appearance: none;
  width: 280px;
  height: 10px;
  background-color: #F8F5DF;
  opacity: 80%;
  border-radius: 10px;
  grid-column: 3/12;
  box-shadow: 0 0 5px #31250d;
  margin-left: 130px;
  position: relative;
  bottom:5em;
  cursor: pointer;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #2e230e; 
  opacity: 80%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


/* ----Background Image---- */

/* the only thing I couldn't get perfect was the glass effect behind everything. There is a way to do it but it doesn't look exactly like your original design. Perhaps we can actually make that apart of this background image?*/ 

.container {
padding-bottom: 55px;
background-image: url(../images/beach-backdrop.jpg)  ;
}



